body {
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  cursor: pointer;
}

.student {
  background: #f4f4f4;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}